<div class="container-main">
    <div class="navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
        <div class="content">
            <app-formulario></app-formulario>
        </div>
        <section class="recordatorio-container">
            <div class="recordatorio-content">
                <!-- Aqui iran los recordatorios -->
            </div>
        </section>
    </div>
    <footer class="footer">
        <p>Para mi amorcito preciosa <3> - <b>{{ actualDate.getFullYear() }}</b></p>
    </footer>
</div>