.container {
    padding: 1rem;
    background-color: #FFFF;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
}

.icon-container {
    background-color: orange;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    color: #FFFF;
}